@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flyIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.animate-fly-in {
  animation: flyIn 1s ease forwards;
}
body {
  overflow: hidden;
}
